.main {
    padding-right: 1.5rem;
    padding-bottom: 2rem;
    padding-left: 1.5rem;
}

.article {
    max-width: 960px;
    margin: 0 auto;

    @media (min-width: 720px) {
        display: flex;
        justify-content: space-between;
    }
}